.form {
    display: flex;
    align-items: center;
    position: sticky;
    bottom: 0;
    width: 100%;
}

.input-wrapper {
    flex: 1 1 70%;
    position: relative;
    display: flex;
}

.error {
    position: absolute;
    top: 46px;
    color: red;
}