@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.page-wrapper {
  height: 100%;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

iframe {
  max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.iframe-container iframe,
.iframe-container img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.iframe-container img {
    object-fit: cover;
}
